/* ! Página */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Jersey+25&family=Kite+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wdth@0,75..100;1,75..100&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 20px;
  color: #04173d;
  /* font-family: "Sour Gummy", sans-serif; */
  font-family: "Kite One", sans-serif;

  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.vm-navbar-container,
.vm-main-container,
.vm-main-aside-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 5px;
}

/* ! Barra de Navegação */

.vm-navbar {
  background-color: #fdefef;
  border-bottom: #ff1b6b solid 2px;
  max-height: 100px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.vm-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vm-navbar-container a {
  font-family: "Indie Flower", cursive;

  display: flex;
}

.vm-navbar-container h2 {
  color: #ff1b6b;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}

.vm-navbar-container img {
  max-height: 80px;
  margin: 5px 0;
}

.vm-navbar-menu {
  list-style: none;
  margin-top: 10px;

  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.vm-navbar-menu a {
  text-decoration: none;
}

.vm-navbar-menu a:hover {
  text-decoration: underline;
}

/* ! Conteúdo */

.vm-main-aside-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

/* ? main */

.vm-title,
.vm-subtitle {
  color: #ff1b6b;
  /* font-family: "Indie Flower", cursive; */
  font-family: "Sour Gummy", sans-serif;

  margin: 15px 0;
}

.vm-title {
  text-align: center;
  font-size: 45px;
}

.vm-subtitle {
  font-size: 35px;
}

.vm-main-container .vm-slogan {
  text-align: center;
  margin-bottom: 15px;
}

.vm-main-aside-container .vm-slogan {
  text-align: right;
  margin-bottom: 15px;
}

/* ? Produtos */

.vm-products-container {
  margin: 20px 0;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.vm-products-container figure {
  max-width: 500px;
  padding: 0 15px;
}

.vm-main-container .vm-product figure {
  overflow: hidden;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px rgba(4, 23, 61, 0.5);
}

.vm-main-container .vm-product figcaption {
  color: #04173d;
  font-weight: 700;
  font-size: 25px;
  font-family: "Indie Flower", cursive;
  /* font-family: "Sour Gummy", sans-serif; */
  text-align: center;
  padding-bottom: 10px;
}

.vm-product a {
  text-decoration: none;
  padding: 0 15px;
}

.vm-product a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.vm-main-container .vm-product img {
  width: 100%;
  height: 100%;

  border-radius: 7px;
  box-shadow: 4px 4px 5px 0px rgba(4, 23, 61, 0.75);
}

.vm-main-container .vm-products-container .vm-product img:hover {
  transform: scale(1.11);
  transition: ease-in-out 1.25s;
}

.vm-products-container-2 {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.vm-products-container-2 figure {
  max-height: 310px;
}

/* ? FAQ */

#vm-faq details[open] summary {
  margin: 10px 0;
  font-weight: 700;
}

#vm-faq p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* ? Newsletter */

form {
  padding: 20px;
  max-width: 750px;
}

.vm-form-item label span {
  color: #ff1b6b;
  font-size: 15px;
}

.vm-form-item input {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-color: #ffd1e1;
}

.vm-form-item-option div {
  margin: 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  justify-content: space-around;
}

.vm-form-item-option fieldset {
  border-color: #ffd1e1;
}

.vm-form-item-option {
  margin-bottom: 15px;
}

/* .vm-form-item-option fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
} */

form button {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(4, 23, 61, 0.5);
  border-color: #ff8db5;
}

form button:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #fef7f7;
  background-color: #ff4888;
}

/* ? Galeria */

.vm-gallery-grid {
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.vm-gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 0.5px #ff8db5;
}

.vm-gallery-grid img:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.75s;
}

/* ? Artigos */

.vm-article {
  border-top: #ff8db5 solid 3px;
  padding-top: 25px;
  margin-top: 25px;
}

.vm-article:last-of-type {
  border-bottom: #ff8db5 solid 3px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.vm-article-title {
  color: #ff1b6b;
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 15px;
}

.vm-top {
  display: block;
  text-decoration: none;
  font-size: 15px;
  text-align: right;
  color: #6a7da3;
  padding-bottom: 20px;
}

.vm-article-item {
  padding: 10px 0 5px 20px;
}

.vm-article p {
  text-align: justify;
  padding-bottom: 10px;
}

/* ? Cruzeiros */

#vm-cruise-container {
  max-height: 100%;

  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#vm-cruise-container .vm-cruise-container {
  text-decoration: none;
  max-width: calc((100% / 3) - 20px);
  overflow: hidden;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

  display: block;
}

.vm-cruise-container:hover {
  border: solid #ff1b6b 1px;
}

.vm-cruise-container img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.vm-cruise-container-info {
  padding: 20px 35px;
}

.vm-cruise-container-info p {
  font-size: 15px;
}

.vm-cruise-container-info .vm-cruise-night {
  font-size: 18px;
  font-weight: 700;
}

.vm-cruise-container-info .vm-cruise-name {
  font-size: 25px;
  font-weight: 900;
  padding: 7px 0;
}

.vm-cruise-container-info p:nth-child(3),
.vm-cruise-container-info p:nth-child(5) {
  padding-bottom: 15px;
}

.vm-cruise-container-info .vm-cruise-date {
  font-weight: 700;
}

/* ? aside */

.vm-main-aside-container main {
  max-width: calc(1250px - 350px - 30px);
}

.vm-main-aside-container .vm-introduction p {
  text-align: justify;
  padding-bottom: 15px;
}

.vm-main-aside-container aside {
  background-color: #fef7f7;
  max-width: 350px;
  text-align: center;

  /* position: sticky;  */
  /* top: 100px; */
  /* bottom: 80px; */
}
/*! professor, esse não deu certo.. gostaria que o aside rolasse junto com a página mas que travasse quando chegasse ao final do conteúdo do aside, mesmo ainda tendo conteúdo no main.. Mas se eu ativo o sticky, ele trava e só rola depois que chega no final */

/* .vm-main-aside-container aside div:first-child {
  text-align: center;
  position: sticky;
  top: calc(100% - 90px);
  bottom: calc(100% - 150px);
} */

.vm-main-aside-container aside h3 {
  margin-top: 20px;
  font-size: 25px;
}

.vm-article-links ul {
  list-style: none;
  text-align: left;
  margin: 20px 0;
}

.vm-article-links a {
  font-size: 15px;
  padding-left: 20px;
  text-decoration: none;
}

.vm-article-links a:hover {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.vm-main-aside-container aside .vm-products-container {
  margin: 0 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vm-main-aside-container .vm-product figcaption {
  color: #04173d;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  text-align: center;
  padding-bottom: 2px;
}

.vm-main-aside-container .vm-product img {
  width: 90%;
  height: 90%;

  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px rgba(4, 23, 61, 0.75);
}

.vm-main-aside-container aside .vm-top {
  text-align: center;

  position: sticky;
  top: calc(100% - 90px);
}

/* ! Footer */

footer {
  background-color: #fdefef;
  border-top: #ff1b6b solid 2px;
  max-height: 80px;

  position: sticky;
  bottom: 0;
}

footer div {
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
}

footer p {
  font-size: 13px;
  padding: 2px;
}

/* ! Responsividade */

@media (max-width: 480px) {
  .vm-navbar h2 {
    display: none;
  }

  .vm-products-container {
    margin: 20px 30px;
    grid-template-columns: 1fr;
  }

  .vm-subtitle {
    text-align: center;
    font-size: 30px;
  }

  .vm-gallery-grid {
    margin: 0 30px;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #vm-faq summary,
  #vm-faq p {
    padding: 0 20px;
  }

  footer {
    position: relative;
  }

  footer p {
    font-size: 10px;
  }

  #vm-cruise-container {
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .vm-cruise-container {
    min-width: calc(100% - 15px);
  }

  .vm-products-container-2 {
    grid-template-columns: 1fr;
    margin: 0 40px;
    gap: 20px;
  }

  .vm-main-aside-container {
    display: inline;
  }

  .vm-main-aside-container main,
  .vm-main-aside-container aside {
    margin: 0 30px;
  }

  .vm-main-aside-container main {
    max-width: 100%;
  }
}
