body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: bold;
}

.dado {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  background-color: #6c5ce7;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#resultado {
  margin-top: 20px;
}
